@font-face {
  font-family: Vazirmatn;
  src: url('../font/Vazirmatn-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../font/Vazirmatn-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../font/Vazirmatn-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../font/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../font/Vazirmatn-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../font/Vazirmatn-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../font/Vazirmatn-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../font/Vazirmatn-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('../font/Vazirmatn-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-color: #E0E0E0;
    color: #212121;
    font-family: Vazirmatn;
}

header {
    width: 100%;
    text-align: center;
}
header  img  {
    max-width: 299px;
    height: inherit;
    float: left;
}
header > section {
    width: 100%;
    max-width: 800px;
    height: 38px;
    margin: auto;
    margin-top: 30.5px;
    padding: 10px 21px;
border-radius: 72px;
background: #E0E0E0;
box-shadow: 9px 9px 18px #9d9d9d,
            -9px -9px 18px #ffffff;
}
header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

header a {
    font-size: 22px;
    color: black;
    text-decoration: none;
    font-weight: 900;
    margin: 0 10px 0;
    padding: 10px;
}

header a:hover {
    text-decoration: underline;
}