{% extends 'base.html' %}
{% block header%}
    <title>فروشگاه اینترنتی علی اصغر</title>
{% endblock %}
{% block body%}

    <header>
        <section>
            <img src="{{ url_for('static', filename='image/logo.png') }}" alt="aliasghar">
            <div>
                <a href="#">صفحه اصلی</a>
                <a href="#">محصولات جدید</a>
                <a href="#">درباره ما</a>
                <a href="#">محصولات پرفروش</a>
            </div>
        </section>
    </header>

    <section class="products">
        {% for p in products %}
            <section class="product-box">
                <img src="{{ url_for('static', filename='cover/' ~ p.id ~ '.jpg') }}" alt="{{ p.name }}">
                <h3>{{ p.name }}</h3>
                <p>{{ p.description|truncate(60) }}</p>

                    <a class="blue" href="{{ url_for('general.product_page', id=p.id, name=p.name) }}">
                    توضیحات بیشتر
                </a>

                <div style="float: right;">
                    <a href="/add-to-cart?id={{ p.id }}"><img src="{{ url_for("static", filename = "theme-image/cart.png" ) }}"> افزودن به</a>
                </div>
            </section>
        {% endfor %}
    </section>
{% endblock %}