{% extends 'base.html' %}
{% block header%}
    <title>فروشگاه اینترنتی علی اصغر</title>
{% endblock %}
{% block body%}

    <header>
        <section>
            <img src="{{ url_for("static", filename = "image/logo.png" ) }}" alt="aliasghar">
        <div>
            <a href="#">صفحه اصلی</a>
            <a href="#">محصولات جدید</a>
            <a href="#">درباره ما</a>
            <a href="#">محصولات پرفروش</a>
        </div>
        </section>
    </header>



    {% for p in products %}
    <a href="{{ url_for('general.product_page', id=p.id, name=p.name) }}">{{ p.name }}</a>
    {% endfor %}

{% endblock %}