{% extends 'base.html' %}

{% block header %}
    <title>محصول {{ product.name }}</title>
{% endblock %}

{% block body %}

    {% include "part/header.html" %}

    <div class="product-detail-box">
            <div>
            <img src="{{ url_for('static', filename='cover/' ~ product.id|string ~ '.jpg') }}">
        </div>
        <section>
            <h1>{{ product.name }}</h1>
            <h2>شماره محصول: {{ product.id }}</h2>

<div class="tags-row">        
<span class="tag red"><img src="{{ url_for("static", filename = "theme-image/delivery.png" ) }}">ارسال رایگان</span>
<span class="tag blue"><img src="{{ url_for("static", filename = "theme-image/done.png" ) }}">ضمانت اصالت</span>
<span class="tag yellow"><img src="{{ url_for("static", filename = "theme-image/pay.png" ) }}">پرداخت درب محل</span>
<span class="tag green"><img src="{{ url_for("static", filename = "theme-image/time.png" ) }}">ارسال سریع </span>
</div>


<span class="price">{{ product.price }}</span>

<div>
    <a class="add-to-cart-btn2" href="/add-to-cart?id={{ product.id }}"> افزودن به سبدخرید<img
                    src="{{ url_for("static", filename = "theme-image/cart.png" ) }}"></a>
</div>
        
    </div>
   
        
        
        </section>
    </div>


{% endblock %}